<h1> Welcome to Rebecca's Seed Swap </h1>
<p> Have a burning desire to grow your own green beans, but are an apartment dweller?</p>
<p> Look no further than Rebecca's Seed Swap, and you too can alienate everyone you live with when your green bean plants start to take over the kitchen.</p>
<p> Swap seeds with like-minded gardeners in your area.</p>
